.loginBox{
    padding:20;
    box-shadow:0px -3px 25px rgba(99,167,181,0.24); 
    border-radius:15px;                                   
    align-content: center;
    align-items: center;
    text-align: center;
    color: #2076B8;
}

.loginContainer{
    margin: 0;
    padding-top: 15%;
}
.form-control{
    width: 50%;
    margin-left: 112px;
    margin-top: 5px;
}
.loginBtn{
    border: 1px solid black;
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    background-color: #47525E;
    color: white;
}
.loginBtn:hover{
    color: black;
    background-color: white;
}