body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttonCustomAsira {
  background-color: #2076b8;
  border: 0px solid transparent;
  border-radius: 3px;
  font-size:14px;
  color: white;
  opacity:100%;
}

.buttonCustomAsira:hover{
  opacity: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table{
  font-size: 15px;
}


h2{
  color: #2076b8;
}

@media only screen and (max-width: 1180px) {
  h2 {
    font-size: 1.5rem;
  }
  .buttonCustomAsira {
    font-size: 100%;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1.2rem;
  }

  .buttonCustomAsira {
    font-size: 60%;
  }
}